<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>備品管理</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" th:href="@{/items}">備品管理システム</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
                山田太郎さん
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/logout}">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container -->
    </nav>
    <div class="container mt-5">
      <div th:if="${statusMessage}" class="alert alert-success mt-4">
				[[${statusMessage}]]
			</div>
			<h1>[[${title}]]</h1>
      <a class="btn btn-primary my-3" th:href="@{/items/add}">備品の追加</a>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover list-table">
            <thead>
              <tr class="bg-secondary text-white">
                <th>ID</th>
                <th>品名</th>
                <th>数量</th>
                <th>場所</th>
                <th>リンク</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item:${items}" class="align-middle">
                <td>[[${item.id}]]</td>
                <td>[[${item.name}]]</td>
                <td>[[${item.amount}]]</td>
                <td>[[${item.location.name}]]</td>
                <td><a class="btn btn-warning" th:href="@{/items/detail/{id}(id=${item.id})}">詳細</a></td>
              </tr>
<!--              <tr class="align-middle">
                <td>2</td>
                <td>ノートPC</td>
                <td>1</td>
                <td>総務部</td>
                <td><a class="btn btn-warning" href="detail.html">詳細</a></td>
              </tr>
              <tr class="align-middle">
                <td>1</td>
                <td>ノートPC</td>
                <td>1</td>
                <td>開発部</td>
                <td><a class="btn btn-warning" href="detail.html">詳細</a></td>
              </tr> -->
            </tbody>
          </table>
					<!-- 2 ページ以上の場合、ページネーションを表示:start -->
					<div th:if="${totalPages >= 2}" class="container">
						<ul class="pagination">
					<!-- 前のページへ -->
							<th:block th:switch="${page}">
								<li th:case="1" class="page-item disabled">
									<a class="page-link" href="">&laquo;</a>
								</li>
								<li th:case="*" class="page-item">
									<a class="page-link" th:href="@{/members(page=${page -1})}">&laquo;</a>
								</li>
						</th:block>
					<!-- ページ番号 -->
						<th:block th:each="index : ${#numbers.sequence(1, totalPages)}">
							<th:block th:switch="${index}">
								<li th:case="${page}" class="page-item active">
									<a class="page-link" href="">[[${index}]]</a>
								</li>
								<li th:case="*" class="page-item">
									<a class="page-link" th:href="@{/items(page=${index})}">[[${index}]]</a>
								</li>
							</th:block>
						</th:block>
					<!-- 次のページへ -->
						<th:block th:switch="${page}">
							<li th:case="${totalPages}" class="page-item disabled">
								<a class="page-link" href="">&raquo;</a>
							</li>
							<li th:case="*" class="page-item">
								<a class="page-link" th:href="@{/items(page=${page +1})}">&raquo;</a>
							</li>
						</th:block>
						</ul>
					</div>
					<!-- 2 ページ以上の場合、ページネーションを表示:end -->

					</div>
        </div>
      </div>
    </div>



    <!-- /.container -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
